/* Variables */
$orangeBackground: #fbf5ee;
$white: #ffffff;
$fontColor: #333;
$errorColor: #ff3b30;
$formColor: #4c4c4c;
$orangeFontColor: #fa8919;
$orangeCardColor: #f6d9bbe7;

$orangeBagColor: #fff8f1;
$tipsColor: #b2b2b2;
$homeBarBorderColor: #eaeaea;
$inputBorderColor: #e8e8e8;
$shadowColor: hsla(0, 0%, 87.1%, .46);